%html
  %head
    %title Likerfire - The "Facebook Likes" Comparison Engine - Compare your "Likes" to your friend's!
  %body
    %h1 Welcome to Likerfire
    %p 
      Please 
      %a{:href => '/auth/facebook'}log in to Facebook
      to begin